<div class="container" fxLayout="column" fxLayoutAlign="center">

  <div fxFlex>
    <agm-map [latitude]="latitudeDep" [longitude]="longitudeDep" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitudeDep" [longitude]="longitudeDep"></agm-marker>
    </agm-map>
  </div>

  <div fxFlex>
    <agm-map [latitude]="latitudeDest" [longitude]="longitudeDest" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitudeDest" [longitude]="longitudeDest"></agm-marker>
    </agm-map>
  </div>

  <div fxFlex fxFlexAlign="center"
       class="autocomplete-container"
       [ngStyle]="{'width.px': 600}">
    <mat-google-maps-autocomplete addressLabelText="Départ"  (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                  (onLocationSelected)="onLocationSelectedDepart($event)"
                                  (onGermanAddressMapped)="onGermanAddressMapped($event)">
    </mat-google-maps-autocomplete>
  </div>

  <div fxFlex fxFlexAlign="center"
       class="autocomplete-container"
       [ngStyle]="{'width.px': 600}">
    <mat-google-maps-autocomplete addressLabelText="Arrivée"  (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                  (onLocationSelected)="onLocationSelectedDestination($event)"
                                  (onGermanAddressMapped)="onGermanAddressMapped($event)">
    </mat-google-maps-autocomplete>
  </div>

  <div fxFlex fxFlexAlign="center">
  <mat-label>{{distance}} </mat-label>
  </div>
</div>
